<!DOCTYPE html>
<html>
<head>
	<title> The Write Idea  - Input </title>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
<h1 id="title"> THE WRITE IDEA </h1>

<p> Writing is so much more than spelling and comma usage. <strong> THE WRITE IDEA </strong> is a text editor that edits writing for style. </p>

<p> Of course, all style suggestions are merely that: <strong> suggestions. </strong> Writing is just as much about intentionally breaking rules as it is about following them. </p>

<h2> Would you like to edit by teacher or by skill? </h2>

<p id="editByTeacher"> Teacher </p>

<p id="editBySkill"> Skill </p>

<form action="/result" method="post" id="form", remote: true>

<div class="hidden teacherList">
<h2> By teacher: </h2>
<input type="radio" name="teacher" value="barker"> Ms. Barker </br>
<input type="radio" name="teacher" value="greer"> Mr. Greer </br>
<input type="radio" name="teacher" value="june"> Mr. June </br>
<input type="radio" name="teacher" value="landis"> Ms. Landis </br>
<input type="radio" name="teacher" value="lc"> Ms. L-C </br>
<input type="radio" name="teacher" value="marshall"> Mr. Marshall </br>
<input type="radio" name="teacher" value="stephens"> Ms. Stephens </br>
<input type="radio" name="teacher" value="tempone"> Mr. Tempone </br>
</div>

<div class="hidden skillList">
<h2> By skill: </h2>
<input type=checkbox name="repetition" value="repetition"> Repetition </br>
<input type=checkbox name="nakedThis" value="nakedThis"> Naked this </br>
<input type=checkbox name="passiveVoice" value="passiveVoice"> Passive voice </br>
<input type=checkbox name="pastTense" value="pastTense"> Past tense (for English essays) </br>
<input type=checkbox name="presentTense" value="presentTense"> Present tense (for History esays) </br>
<input type=checkbox name="firstPerson" value="firstPerson"> First person </br>
<input type=checkbox name="secondPerson" value="secondPerson"> Second person </br>
<input type=checkbox name="adverbs" value="adverbs"> Adverbs </br>
<input type=checkbox name="weak" value="weak"> Weak word choice </br>
<input type=checkbox name="filler" value="filler"> Filler words </br>
<input type=checkbox name="vagueNoun" value="vagueNoun"> Vague word choices </br>
<input type=checkbox name="contractions" value="contractions"> Contractions </br>
</div>

<h2> Please paste your essay below. </h2>

<textarea rows="20" cols="140" type="text" name="userInput"> Enter your writing here... </textarea>

<p> <input type="submit" value="Submit!"> </p>

</form>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/inputlogic.js"></script>

</html>