<!DOCTYPE html>
<html>
<head>
	<title> The Write Idea - Input </title>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
<h1 id="title"> THE WRITE IDEA </h1>

<p> Writing is so much more than spelling and comma usage. <strong> THE WRITE IDEA </strong> is a text editor that edits writing for style. </p>

 <p> Of course, all style suggestions are merely that: <strong> suggestions. </strong> Writing is just as much about intentionally breaking rules as it is about following them. </p>

 </body>

<h2> Please paste your essay below. </h2>

<form method="get" action="/result" id="form">

<textarea rows="20" cols="140" type="text" name="userInput"> Enter your writing here... </textarea>

 <p> <input type="submit" value="Submit!"> </p>

</form>

</body>

</html>