<!DOCTYPE html>
<html>
<head>
	<title> The Write Idea  - Input </title>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
<h1 id="title"> THE WRITE IDEA </h1>

<p> Writing is so much more than spelling and comma usage. <strong> THE WRITE IDEA </strong> is a text editor that edits writing for style. </p>

<p> Of course, all style suggestions are merely that: <strong> suggestions. </strong> Writing is just as much about intentionally breaking rules as it is about following them. </p>

<h2> Would you like to edit by teacher or by skill? </h2>

<p id="editByTeacher"> Teacher </p>

<p id="editBySkill"> Skill </p>

<h2 id="byTeacher" class="hidden"> By teacher: </h2>
<ul class="hidden" id="teacherList">
<li id="barker"> Ms. Barker </li>
<li id="greer"> Mr. Greer </li>
<li id="june"> Mr. June </li>
<li id="landis"> Ms. Landis </li>
<li id="lc"> Ms. L-C </li>
<li id="marshall"> Mr. Marshall </li>
<li id="stephens"> Ms. Stephens </li>
<li id="tempone"> Mr. Tempone </li>
</ul>

<h2 id="bySkill" class="hidden"> By skill: </h2>
<ul class="hidden" id="skillList">
<li id="editForRepetition"> Repetition </li>
<li id="editForNakedThis"> Naked this </li>
<li id="editForPassiveVoice"> Passive voice </li>
<li id="editForPastTense"> Past tense (for English essays) </li>
<li id="editForPresentTense"> Present tense (for History essays) </li>
<li id="editForFirstPerson"> First person </li>
<li id="editForSecondPerson"> Second person </li>
<li id="editForAdverbs"> Adverbs </li>
<li id="editForWeak"> Weak word choice </li>
<li id="editForFillers"> Filler words </li>
<li id="editForVagueNouns"> Vague word choice </li>
<li id="editForContractions"> Contractions </li>
</ul>

<form action="/result" method="post" id="form", remote: true>

<input type="radio" name="teacher" value="barker"> Ms. Barker </br>
<input type="radio" name="teacher" value="greer"> Mr. Greer </br>

<h2> Please paste your essay below. </h2>

<textarea rows="20" cols="140" type="text" name="userInput"> Enter your writing here... </textarea>

<p> <input type="submit" value="Submit!"> </p>

</form>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/inputlogic.js"></script>

</html>